{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware": "Information",
      "Microsoft.EntityFrameworkCore.Database.Command": "Warning",
      "System.Net.Http.HttpClient.Default": "Warning"
    }
  },
  "Config": {
    "PDS_PORT": 2583,
    "PDS_HOSTNAME": "example.com",
    "PDS_SERVICE_NAME": "Example PDS",
    "PDS_DATA_DIRECTORY": "~/.pds_data/data",
    "PDS_BLOBSTORE_DISK_LOCATION": "~/.pds_data/blocks",
    "PDS_BLOBSTORE_DISK_TMP_LOCATION": "~/.pds_data/temp",
    "PDS_BLOBSTORE_S3_BUCKET": "",
    "PDS_BLOBSTORE_S3_REGION": "",
    "PDS_BLOBSTORE_S3_ENDPOINT": "",
    "PDS_BLOBSTORE_S3_FORCE_PATH_STYLE": false,
    "PDS_BLOBSTORE_S3_ACCESS_KEY_ID": "",
    "PDS_BLOBSTORE_S3_SECRET_ACCESS_KEY": "",
    "PDS_BLOBSTORE_S3_UPLOAD_TIMEOUT_MS": 20000,
    "PDS_JWT_SECRET": "", // openssl rand --hex 16
    "PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX": "", // openssl ecparam --name secp256k1 --genkey --noout --outform DER | tail --bytes=+8 | head --bytes=32 | xxd --plain --cols 32
    "PDS_SERVICE_HANDLE_DOMAINS": [ "example.com" ],
    "PDS_BSKY_APP_VIEW_URL": "https://api.bsky.app",
    "PDS_BSKY_APP_VIEW_DID": "did:web:api.bsky.app",
    "PDS_CRAWLERS": [ "https://bsky.network" ],
    "PDS_DID_PLC_URL": "https://plc.directory",
    "PDS_OAUTH_ENTRYWAY_URL": "",
    "PDS_OAUTH_ENTRYWAY_DID": "",
    "PDS_OAUTH_ENTRYWAY_JWT_VERIFY_KEY_K256_PUBLIC_KEY_HEX": "",
    "PDS_HOME_URL": "https://example.com",
    "PDS_SUPPORT_URL": "https://example.com/support",
    "PDS_LOGO_URL": "https://example.com/logo.png",
    "PDS_CONTACT_EMAIL": "support@example.com",
    "PDS_PRIVACY_POLICY_URL": "https://example.com/privacy",
    "PDS_TERMS_OF_SERVICE_URL": "https://example.com/terms"
  }
}
